.button {
	padding: 5px 10px;
	background: none;

	font-size: 20px;
	font-weight: 500;

	border: none;
	border-radius: 7px;

	cursor: pointer;

	> i {
		margin-left: 5px;
	}
}

a.button {
	font-size: 21px;
}

.button.button-black {
	background-color: $button-black;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-black-active;
	}
}

.button.button-grey {
	background-color: $button-grey;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-grey-active;
	}
}

.button.button-blurple {
	background-color: $button-blurple;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-blurple-active;
	}
}

.button.button-danger {
	background-color: $button-danger;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-danger-active;
	}
}

.button.button-success {
	background-color: $button-success;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-success-active;
	}
}

.button.button-yellow {
	background-color: $button-yellow;
	transition: background-color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: $button-yellow-active;
	}
}

.button.button-text {
	transition: color 0.3s ease;

	&:hover,
	&:focus-visible {
		outline: none;
		color: rgba($white, 0.5);
	}
}
