.dashboard-table-title {
	display: flex;
	align-items: center;

	h1 {
		font-size: 2.5rem;
		font-weight: 600;
	}

	button {
		background-color: unset;
		border: unset;
		margin-right: 10px;
		cursor: pointer;

		i {
			font-size: 1.5rem;
		}
	}
}

.dashboard-table {
	background-color: var(--bg2);
	border: 1px solid var(--bg2-border);
	width: 90%;
	padding: 10px;
	border-radius: 5px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 1rem;
	margin-bottom: 1rem;
}
