.dashboard-list {
	border-radius: 7px;
	width: 90%;

	padding: 1rem;
	margin-bottom: 1rem;

	background-color: $comp-background2;

	overflow-y: auto;
	overflow-x: hidden;
}

.dashboard-table {
	width: 100%;
	border-spacing: 0;

	td,
	th {
		vertical-align: top;
		text-align: left;
	}
}

.dashboard-table-head {
	th {
		border-bottom: 1px solid #434547;
		border-top: 1px solid #434547;

		padding: 10px 10px;
		background-color: $page-background;

		font-size: 25px;
		font-weight: bold;
	}
}

.dashboard-table-content {
	td {
		padding: 10px;
		padding-top: 18px;

		font-size: 20px;

		> i {
			font-size: 30px;
		}

		> i.fa-solid.fa-file {
			font-size: 50px;
		}
	}

	tr {
		&:nth-child(even) {
			background-color: $page-background;

			> td {
				border-bottom: 1px solid #434547;
				border-top: 1px solid #434547;
			}
		}
	}
}

.dashboard-table-image {
	object-fit: cover;
	border-radius: 5px;
}

.dashboard-table-navigation {
	width: 100%;
	margin: 10px 0px 20px 0px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-table-dropdown {
	width: 150px;
	margin: 0px 10px;

	&.big {
		width: 200px;
	}
}

.dashboard-table-page-select {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 970px) {
	.dashboard-table-navigation,
	.dashboard-table-page-select {
		flex-direction: column;
	}

	.dashboard-table-search,
	.dashboard-table-page-select,
	.dashboard-table-dropdown,
	.dashboard-table-search input,
	.dashboard-table-page-select button {
		width: 100% !important;
	}

	.dashboard-table-search,
	.dashboard-table-page-select,
	.dashboard-table-dropdown,
	.dashboard-table-page-select button {
		margin-bottom: 10px;
	}

	.dashboard-table-page-select {
		button:last-child {
			margin-bottom: 0px;
		}
	}
}
