.home-page-container {
	width: 100vw;
	height: 100vh;

	display: grid;
	place-items: center;
}

.home-title {
	display: flex;
	align-items: center;

	h1 {
		font-size: 100px;
		line-height: 75px;
	}

	img {
		width: 75px;
		height: 75px;

		margin-right: 20px;
	}
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		font-size: 30px;
	}
}

.home-buttons {
	margin-top: 10px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	.button:not(:last-child) {
		margin-right: 10px;
	}
}
