.login {
	display: grid;
	place-items: center;

	min-height: 100vh;
	width: 100vw;
}

.credentials {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	> h1 {
		font-size: 4rem;
	}
}

.credentials-item {
	margin-bottom: 1rem;
	width: 600px;

	input {
		width: 100%;
		height: 50px;
		font-size: 1.2rem;
	}
}

.credentials-error {
	color: $red;
	text-align: center;
	font-size: 1.5rem;
}

.credentials-submit {
	padding: 10px;
	border: none;

	border-radius: 5px;
	background-color: $button-blurple;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 30px;

	&:hover,
	&:focus-visible {
		background-color: $button-blurple-active;
	}

	&.disabled {
		cursor: not-allowed;
		background-color: rgba($button-blurple, 0.1);

		&:hover,
		&:focus-visible {
			background-color: rgba($button-blurple, 0.1) !important;
		}
	}
}

.credentials-load {
	max-width: 65px;
	height: 45px;
}

.credentials-password {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		font-size: 2rem;
		cursor: pointer;

		background: none;
		border: none;

		i {
			color: rgba($white, 0.6);
			transition: all 0.5s ease;
		}

		&:hover i,
		&:focus-visible i {
			color: rgba($white, 0.9);
			outline: none;
		}
	}
}

@media screen and (max-width: 650px) {
	.credentials-item {
		width: 90vw;

		input {
			font-size: 1rem;
		}
	}

	.credentials-password {
		input {
			margin-right: 10px;
		}
	}

	.credentials-error {
		font-size: 1rem;
	}
}
