.settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> h1 {
		font-size: 2.5rem;
		font-weight: 500;

		text-align: center;
	}
}

.settings-container {
	background-color: var(--bg2);
	padding: 1rem;
	border: 1px solid var(--bg2-border);
	border-radius: 5px;
	width: min(90%, 90%, 1000px);

	&:last-child {
		margin-bottom: 1rem;
	}
}

.sep-settings {
	margin-top: 1rem;
}

.settings-component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h3 {
		font-size: 1.7rem;
	}

	p {
		background: rgba(var(--bg3-rgb), 0.5);
		padding: 10px;
		border-radius: 5px;
		min-width: 160px;
		max-width: 370px;
		text-align: center;
		font-size: 1.2rem;
		word-break: break-all;

		&.token {
			filter: blur(10px);
			user-select: none; /* standard syntax */
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
			-moz-user-select: none; /* mozilla browsers */
			-khtml-user-select: none; /* webkit (konqueror) browsers */
			-ms-user-select: none; /* IE10+ */
		}

		&.token.show {
			filter: none;
			user-select: text; /* standard syntax */
			-webkit-user-select: text; /* webkit (safari, chrome) browsers */
			-moz-user-select: text; /* mozilla browsers */
			-khtml-user-select: text; /* webkit (konqueror) browsers */
			-ms-user-select: text; /* IE10+ */
		}
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 200px;
	}

	button {
		margin-top: 0.5rem;
		padding: 5px;
		border-radius: 5px;
		font-size: 1.2rem;
		cursor: pointer;

		color: var(--blurple);
		border: 1px solid var(--blurple);
		transition: all 0.5s ease;

		i {
			color: var(--blurple);
			transition: all 0.5s ease;
		}

		&:hover {
			background: var(--blurple);
			color: var(--white);

			i {
				color: var(--white);
			}
		}

		&.danger {
			color: var(--red);
			border-color: var(--red);

			i {
				color: var(--red);
			}

			&:hover {
				background: var(--red);
				color: var(--white);

				i {
					color: var(--white);
				}
			}
		}
	}
}

.settings-password {
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	input {
		width: 200px !important;
	}

	.settings-button {
		font-size: 1.5rem;
		cursor: pointer;

		i {
			color: rgba(var(--white-rgb), 0.3) !important;
			transition: all 0.5s ease !important;
		}

		border: none !important;
		background: none !important;

		margin-top: unset !important;

		&:hover i {
			color: rgba(var(--white-rgb), 0.9) !important;
		}
	}
}

.embed-settings-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	> button[type="submit"] {
		margin-top: 1rem;
		padding: 0.5rem;
		font-size: 1.5rem;
		cursor: pointer;

		border: 1px solid var(--blurple);
		border-radius: 5px;

		color: var(--blurple);
		transition: all 0.5s ease-in-out;

		i {
			color: var(--blurple);
			transition: all 0.5s ease-in-out;
		}

		&:hover {
			color: var(--white);
			background-color: var(--blurple);

			i {
				color: var(--white);
			}
		}

		&:disabled {
			border-color: rgba(var(--blurple-rgb), 0.4) !important;
			color: rgba(var(--blurple-rgb), 0.4) !important;
			background-color: unset !important;

			cursor: not-allowed !important;

			i {
				color: rgba(var(--blurple-rgb), 0.4) !important;
			}
		}
	}
}

.embed-settings-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;
	width: 100%;
}

.embed-settings-discord {
	width: 50%;
	min-height: 350px;
	transition: opacity 0.5s ease-in-out;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: not-allowed;
	}
}

.embed-settings {
	width: 50%;
	list-style: none;

	height: 100%;
	margin-left: 10px;
}

.embed-settings-item {
	position: relative;

	h3 {
		font-size: 1.5rem;
		font-weight: 500;
	}

	> p {
		color: var(--red);
	}

	&.flex-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.embed-colour-picker {
	background: var(--black);

	input {
		color: var(--white) !important;
	}
}

.embed-settings-text {
	width: 100%;
}

.edit-container-dropdown {
	width: 90%;
}

@media screen and (max-width: 700px) {
	.embed-settings-container {
		flex-direction: column;
	}

	.embed-settings,
	.embed-settings-discord {
		width: 100%;
	}

	.embed-settings {
		margin-top: 1rem;
	}

	.discord-embed {
		margin: unset;
	}
}
