@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --vars-- */
$white: #fff;
$red: #e54b4b;
$blurple: #6666ff;

$comp-background1: #1c1d1e;
$comp-background2: #18191a;

$page-background: #242526;
$navbar-background: #1e1f21;

$button-black: #1c1d1e;
$button-black-active: #131415;

$button-grey: #525457;
$button-grey-active: #323436;

$button-blurple: $blurple;
$button-blurple-active: #333366;

$button-danger: $red;
$button-danger-active: #e62e2e;

$button-success: #2bc016;
$button-success-active: #1f990f;

$button-yellow: #f5bb00;
$button-yellow-active: #d1a000;

$modal-backdrop: rgba(#000, 0.75);

* {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
	color: $white;
	box-sizing: border-box;

	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #323436;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $button-black;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $button-black-active;
	}
}

body {
	background: $page-background;
	min-height: 100vh;
	overflow-x: hidden;
}

input {
	background: #14161a;
	border: 1px solid rgba($white, 0.5);
	border-radius: 5px;

	transition: border 0.5s ease;
	padding: 10px;

	&:focus-visible,
	&:hover {
		border: 1px solid $blurple;
		outline: none;
	}
}

a {
	text-decoration: none;

	user-select: none; /* standard syntax */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

/* == Tippy Theme */
@font-face {
	font-family: "Discord Font";
	font-weight: 900;
	src: url("https://ijskoud.dev/assets/fonts/discord.woff2") format("woff2");
	font-style: normal;
}

.tippy-box.discord-theme {
	background-color: black;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
}

.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tippy-box[data-placement^="top"][data-animation="discord-anim"] {
	transform-origin: center !important;
	&[data-state="hidden"] {
		opacity: 0;
		transform: scale(0.9) translateY(-11px);
	}
	&[data-state="visible"] {
		transform: scale(1);
	}
}

.tippy-box[data-placement^="bottom"][data-animation="discord-anim"] {
	&[data-state="hidden"] {
		opacity: 0;
		transform: scale(0.9) translateY(11px);
	}
	&[data-state="visible"] {
		transform: scale(1);
	}
}

.tippy-box.discord-theme .tippy-arrow {
	color: black;
	filter: drop-shadow(0 2px 16px 0 rgba(0, 0, 0, 0.5));
}

.tippy-box.discord-theme .tippy-content {
	font-family: "Discord Font", sans-serif;
	text-align: center;
	padding: 10px 15px;
	color: rgba(255, 255, 255, 0.95);
	font-weight: 500;
	letter-spacing: 0.4px;
	font-size: 1.1em;

	h2 {
		margin: 0;
		margin-bottom: 8px;
	}
}

@import "./pages/home.scss";
@import "./pages/login.scss";
@import "./pages/dashboard.scss";

@import "./components/modal.scss";
@import "./components/navbar.scss";
@import "./components/buttons.scss";
