.login {
	display: grid;
	place-items: center;

	min-height: 100vh;
	width: 100vw;
}

.credentials {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	> h1 {
		font-size: 4rem;
	}
}

.credentials-item {
	margin-bottom: 1rem;
	width: 600px;

	input {
		width: 100%;
		height: 50px;
		font-size: 1.2rem;
	}
}

.credentials-error {
	color: var(--red);
	text-align: center;
	font-size: 1.5rem;
}

.credentials-submit {
	padding: 10px;
	border: 1px solid rgba(var(--white-rgb), 0.3);
	border-radius: 5px;
	background-color: rgba(var(--bg2-rgb), 0.3);
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 1.5rem;

	&:hover {
		background-color: rgba(var(--bg2-rgb), 0.9);
		border: 1px solid rgba(var(--white-rgb), 0.9);
	}

	&.disabled {
		cursor: not-allowed;
		background-color: rgba(var(--bg2-rgb), 0.1);
		border: 1px solid rgba(var(--white-rgb), 0.1);

		&:hover {
			background-color: rgba(var(--bg2-rgb), 0.1) !important;
			border: 1px solid rgba(var(--white-rgb), 0.1);
		}
	}
}

.credentials-load {
	max-width: 65px;
	height: 45px;
}

.credentials-password {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		font-size: 2rem;
		cursor: pointer;

		i {
			color: rgba(var(--white-rgb), 0.6);
			transition: all 0.5s ease;
		}

		&:hover i {
			color: rgba(var(--white-rgb), 0.9);
		}
	}
}

@media screen and (max-width: 650px) {
	.credentials-item {
		width: 90vw;

		input {
			font-size: 1rem;
		}
	}

	.credentials-password {
		input {
			margin-right: 10px;
		}
	}

	.credentials-error {
		font-size: 1rem;
	}
}
