.modal-backdrop {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(var(--bg2-rgb), 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}

.modal {
	width: clamp(50%, 700px, 90%);
	height: min(50%, 300px);

	margin: auto;
	padding: 0 2rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
